*{
  margin: 0;
  padding: 0;
}
.wrap{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: cornflowerblue;
  div{
    padding: 10px;
  }
  a{
    margin-right: 15px;
  }
}
.search{
  button{
    margin-left: 15px;
  }
 }
.user{
  display: flex;
}
.search{
  input{
    border-radius: 15px;
  }
  button{
    border-radius: 15px;
    background: #5959e5;
    color: white;
  }
}
.logo{
  img{
    width: 250px;
  }
}
