.all-films{
  color: white;
  width: 100%;
  h2{
    display: flex;
    justify-content: center;
  }
}
.films{
  color: white;
  padding: 0 350px;
  justify-content: center;
}
.padding{
  padding: 7.5px 200px;
}
